@media (max-width: 575px) {
  .dynamic-list-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }

  .dynamic-list-container h2 {
    font-size: 1rem;
  }

  .posts > ul {
    list-style: none;
    padding: 0;
  }

  .posts > ul > li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-back {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 999px) {
  .dynamic-list-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
  }

  .posts > ul {
    list-style: none;
    padding: 0;
  }

  .posts > ul > li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .dynamic-list-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 890px;
  }

  .posts > ul {
    list-style: none;
    padding: 0;
  }

  .posts > ul > li {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
}
